<!DOCTYPE html>
<html lang="en">
<head>
    <title>Success</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <h1>Petition Automatic Post</h1><br>

       <h3>Hello {{ user.get_full_name|default:user.username }}!</h3><br>
       <btn class="btn Show btn-xl btn-success ">
           <a href="{% url 'social:begin' 'facebook' %}">
                  Login with Facebook
           </a>
       </btn>
    </div>
</body>
</html>